.movie_card {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 220px;
  margin: 10px;
  background-color: #3EB650;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
  border-radius: 10px;
  margin-right: 30px;
  transition: transform 0.3s; 
}

.movie_card:active {
  transform: translateY(-5px); /* Apply a lift effect when clicked */
}



.movie_card img {
  height: 50%;
  width: 100%;
  flex:1;
  padding-top: 30px;
  /* overflow:hidden; */
}


